{% load staticfiles %}

<style>

.chart rect {
        fill:steelblue;
}

.chart text {
        fill:black;
            font:10px sans-serif;
                text-anchor: middle;
}

.axis text {
        font: 10px sans-serif;
}

.axis path,
.axis line {
        fill:none;
            stroke: #000;
                shape-rendering: crispEdges;
}

</style>

dfsdlkfdsjf
<svg class="chart"></svg>
<script src="{% static 'dataDrishya/js/d3.min.js' %}" > </script>
<script src="{% static 'dataDrishya/js/lineplotter.js' %}" > </script>

<script>

    var margin = {top:20, right:30, bottom:30, left:40};

        var jsondata = '{ "title":"ulala", "data":[ {"name":"bibek", "value":14},{"name":"pandey", "value":34 }, {"name":"inisn", "value":24 }]}';

            var json = JSON.parse(jsondata);

lineplot("chart", json.data, margin, 500, 500, "name", "value", "blue");

</script>

                
